.Button {
  cursor: pointer;
  color: var(--primary-color);
  padding: 6px 15px;
  background: none;
  display: grid;
  place-content: center;
  outline: none;
  border: none;
  background-color: transparent;

  &:hover {
    transition: 0.2s ease;
    opacity: 0.8;
    fill-opacity: 0.8;
    stroke-opacity: 0.8;
  }
}

.clear {
  color: var(--inverted-primary-color);
  padding: 0;
}

.outline {
  border: 1px solid var(--primary-color);
}

.outline-red {
  border: 1px solid var(--red-light);
  color: var(--red-light);
}

.background {
  background: var(--bg-color);
  color: var(--primary-color);
  border: none;
}

.background-inverted {
  background: var(--invert-bg-color);
  color: var(--inverted-primary-color);
  border: none;
}

.square.m {
  width: var(--font-line-m);
  height: var(--font-line-m);
}

.square.l {
  width: var(--font-line-l);
  height: var(--font-line-l);
}

.square.xl {
  width: var(--font-line-xl);
  height: var(--font-line-xl);
}

.m {
  font: var(--font-m);
}

.l {
  font: var(--font-l);
}

.xl {
  font: var(--font-line-xl);
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}
