.AddNewComment {
  padding: 20px;
  border: 1px solid var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}

.input {
  flex: 1;
}
