.app_blue_theme {
  --bg-color: #39afea;
  --invert-bg-color: #5e69ee;
  --primary-color: #f4f4fb;
  --secondary-color: #383078;
  --inverted-primary-color: #f4f4fb;
  --inverted-secondary-color: #5e69ee;

  // skeleton
  --skeleton-color: #f4f4fb;
  --skeleton-shadow: rgba(0 0 0 / 20%);

  // code
  --code-bg-color: #5141df;
}
