.app_dark_theme {
  --bg-color: #090949;
  --invert-bg-color: #e8e8ea;
  --primary-color: #04ff04;
  --secondary-color: #049604;
  --inverted-primary-color: #0232c2;
  --inverted-secondary-color: #0452ff;

  // skeleton
  --skeleton-color: #5415db;
  --skeleton-shadow: rgb(217 196 196 / 20%);

  // code
  --code-bg-color: #33147b;
}
