.app_orange_theme {
  --bg-color: #39afea;
  --invert-bg-color: #5e69ee;
  --primary-color: #f4f4fb;
  --secondary-color: #ff0b58;
  --inverted-primary-color: #f4f4fb;
  --inverted-secondary-color: #5e69ee;
}
