.ProfileCard {
  padding: 20px;
  border: 2px solid var(--invert-bg-color);
  display: grid;
}

.avatar {
  justify-self: center;
}

.loading,
.error {
  display: grid;
  place-items: center;
}

.editing {
  border: 2px solid var(--inverted-primary-color);
}
