.AppLink {
  color: var(--primary-color);
  text-decoration: none;
  width: fit-content;

  &:hover {
    opacity: 0.8;
    transition: 0.2s ease-in-out;
  }
}

.secondary {
  color: var(--inverted-primary-color);
}

.outline {
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  padding: 6px 15px;
}
